@import url(./reset.css);

@import url(./font.css);

.inner {
    width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.btn_o {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

.serif {
    font-family: 'Noto serif KR', serif;
}