@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Noto Sans KR', sans-serif;
    font-family: 'TheJamsil5Bold';
font-family: 'Roboto', sans-serif; */