.header {
    position: fixed;
    inset: 50px auto auto 50px;
    z-index: 99;
}

.header.on {
    color: #fff;
}

.gnb {
    position: fixed;
    z-index: 99;
    inset: 50% 50px auto auto;
    transform: translate(0, -42px);
    width: 100px;
}

.gnb li {
    font-size: 0;
}

.gnb li a {
    position: relative;
    display: block;
    height: 10px;
    margin: 5px 0;
}

.gnb li a::before {
    content: "";
    position: absolute;
    inset: 50% 0 auto auto;
    width: 30px;
    height: 1px;
    background: #333;
    transition: 0.5s;
}

.gnb li.on a::before {
    width: 50px;
}

.inner>* {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    font-family: 'TheJamsil5Bold';
    font-size: 50px;
}

.section .content {
    background: tan;
    transform: translate(-300px, 0);
    overflow: hidden;
    height: 400px;
    opacity: 0;
    align-items: flex-start;
}

.section .content .case {
    transform: translate(0, 0);
    transition: 5s;
}

.section .content:hover .case {
    transform: translate(0, calc(-100% + 400px));
}

.section.on .content {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.7s;
}

.section .desc {
    background: olive;
    transform: translate(300px, 0);
    opacity: 0;
}

.section.on .desc {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1.2s;
}

/*  */

/*  */
.cover {
    position: fixed;
    inset: 0 0 0 0;
    background: #333;
    color: #fff;
    z-index: 98;

    display: flex;
    justify-content: center;

    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.cover.on {
    height: 100vh;
}

.toTop {
    position: fixed;
    inset: auto 50px 50px auto;
    z-index: 99;
}

.mopen {
    position: fixed;
    inset: 50px 50px auto auto;
    z-index: 99;

    width: 30px;
    height: 30px;
    background: #f7f7f7;
}

.mopen button {
    font-size: 0;
    border: none;
    outline: none;
    background: transparent;
}

.mopen::before,
.mopen::after,
.mopen button::before,
.mopen button::after {
    content: "";
    position: absolute;
    background: #333;
    height: 2px;
    transition: 0.5s;
}

.mopen::before {
    inset: 5px 5px auto 5px;
}

.mopen::after {
    inset: auto 5px 5px 5px;
}

.mopen.on::before,
.mopen.on::after {
    opacity: 0;
}

.mopen button::before,
.mopen button::after {
    inset: 50% 5px auto 5px;
    transform: translate(0, -50%);
}

.mopen.on button::before {
    transform: translate(0, -50%) rotate(45deg);
}

.mopen.on button::after {
    transform: translate(0, -50%) rotate(-45deg);
}