.header {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    padding: 30px 50px;

    color: #a0522d;
    transition: 0.5s;
}

.header.on {
    color: #fff;
}

.header h1 {
    position: relative;
    z-index: 999;
    font-size: 0;
}

.header h1 svg {
    height: 80px;
}

.header h1 svg path {
    fill: #BA8369;
}

.header.on h1 svg path {
    fill: #fff;
}

.header .gnb {
    position: absolute;
    inset: 0 0 0 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
}

.header .gnb::before {
    content: "";
    position: absolute;
    inset: -10px -10px -10px -10px;
    background: url(../img/mainVisual.jpg) no-repeat center top/cover;
    filter: blur(10px);
}

.header .gnb ul {
    font-size: 50px;
    font-weight: 100;
    font-style: oblique;
    line-height: 2;
    text-align: center;
}

.header .gnb ul li {
    position: relative;
}

.header .gnb ul li::after {
    content: "";
    position: absolute;
    inset: auto auto 0 0;
    width: 0;
    height: 1px;
    background: #fff;

    transition: 0.5s;
}

.header .gnb ul li.active::after {
    width: 100%;
}

.header .gnb ul a {
    display: block;
}

.header .gnb.on {
    height: 100vh;
    color: #fff;
}

.header .bar_case {
    position: relative;
    z-index: 999;
    font-size: 20px;
    width: 90px;
    height: 30px;
}

.header .bar_case::before,
.header .bar_case::after,
.header .bar_case button::before,
.header .bar_case button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #BA8369;
    transition: 0.5s;
}

.header.on .bar_case::before,
.header.on .bar_case::after,
.header.on .bar_case button::before,
.header.on .bar_case button::after {
    background: #fff;
}

.header .bar_case::before {
    inset: 7px 0 auto auto;
}

.header .bar_case::after {
    inset: auto 0 7px auto;
}

.header .bar_case button::before,
.header .bar_case button::after {
    inset: 50% 0 auto auto;
    transform: translate(0, -50%);
}

.header .bar_case.on::before,
.header .bar_case.on::after {
    opacity: 0;
}

.header .bar_case.on button::before {
    transform: translate(0, -50%) rotate(45deg);
}

.header .bar_case.on button::after {
    transform: translate(0, -50%) rotate(-45deg);
}

#pp-nav.right {
    right: 50px;
}

#pp-nav li {
    margin: 0;
    width: auto;
}

#pp-nav li span {
    border: 1px solid #a0522d;
    width: 12px;
    height: 12px;
    left: 0;
    transform: translate(-100%, 0);
}

#pp-nav.on li span {
    border: 1px solid #fff;
}

#pp-nav li~li {
    margin-top: 10px;
}

#pp-nav li .active span {
    background: #a0522d;
}

#pp-nav.on li .active span {
    background: #fff;
}

/* header */
.mainVisual {
    background: #BA8369;
    color: #fff;
}

.mainVisual .inner {
    position: relative;
}

.mainVisual h2 {
    position: absolute;
    font-size: 120px;
    font-weight: 700;
    z-index: 1;
}

.mainVisual strong {
    position: absolute;
    inset: auto 0 0 auto;
    font-size: 20px;
}

.mainVisual figure {
    width: 550px;
    height: 670px;
    margin: 0 auto;
    transform: translate(-12px, 0);
    overflow: hidden;
    border-radius: 275px 275px 0 0;
    box-shadow: 24px 10px 0 rgba(250, 250, 250, 0.6);
}

/* main visual */
.portfolio {
    background: #fff url(../img/pattern.png);
    color: #343434;
}

.portfolio .inner {
    gap: 30px;
}

.portfolio .inner>* {
    position: relative;
    height: 650px;
}

.portfolio .inner .desc_case {
    width: 440px;
    padding: 30px 0;
}

.portfolio .inner .desc_case em {
    display: block;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #a0522d;
}

.portfolio .inner .desc_case h2 {
    position: relative;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 70px;
    color: #703519;
}

.portfolio .inner .desc_case h2::before {
    content: "";
    position: absolute;
    inset: 60% 0 -2px 0;
    width: 0;
    background: rgba(186, 131, 105, 0.6);
    transform: skewX(-10deg);
    z-index: -1;
    transition: 0.5s 0.2s;
}

.portfolio.on .inner .desc_case h2::before {
    width: 100%;
}

.portfolio .inner .desc_case .tit {
    display: block;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 300;
    font-style: oblique;
}

.portfolio .inner .desc_case .des {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
}

.portfolio .inner .desc_case .info_des span {
    background: rgba(186, 131, 105, 0.8);
    color: #fff;
}

.portfolio .desc_case .color_list {
    gap: 10px;
}

.portfolio .desc_case .color_list li {
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.portfolio .desc_case button {
    background: #BA8369;
    border: 2px solid transparent;
    color: #fff;
    border-radius: 25px;
    transition: 0.5s;
}

.portfolio .desc_case button:hover {
    background: #fff;
    border-color: #BA8369;
    color: #a0522d;
}

.portfolio .desc_case button a {
    display: block;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 300;
}

.portfolio .inner .tab_case {
    width: 970px;
}

.portfolio .inner .tab_case .tab_menu {
    position: absolute;
    inset: 0 15px auto auto;
    transform: translate(0, -100%);
    gap: 1px;
}

.portfolio .inner .tab_case .tab_menu li {
    background: #BA8369;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    border-radius: 7px 7px 0 0;
}

.portfolio .inner .tab_case .tab_menu li.on {
    background: #fff;
    color: #a0522d;
    font-weight: 300;
    border: 1px solid #BA8369;
    border-bottom: none;
}

.portfolio .inner .tab_case .tab_menu li button {
    padding: 5px 30px;
}

.portfolio .inner .tab_case .tab_con {
    overflow: hidden;
    height: 100%;
    box-shadow: 24px 10px rgba(186, 131, 105, 0.6);
    border: 10px solid #fdefe7;
    border-radius: 10px;
}

.portfolio .inner .tab_case .tab_con>li {
    display: none;
    border: 5px solid #703519;
    background: #fff;
    overflow: hidden;
    height: 630px;
}

.portfolio .inner .tab_case .tab_con>li.on {
    display: block;
}

.portfolio .inner .tab_case .tab_con .web.on img {
    animation: scrDown 5s linear 1.2s 2 alternate;
}

@keyframes scrDown {
    to {
        transform: translate(0, calc(-100% + 640px));
    }
}

.portfolio .tab_con .mo {
    padding: 100px 30px 0 30px;
}

.portfolio .tab_con .mo .logo {
    text-align: center;
    margin-bottom: 50px;
    height: 40px;
}

.portfolio .tab_con .mo .logo img {
    height: 100%;
}

.portfolio .tab_con .mo ul {
    gap: 30px;
}

.portfolio .tab_con .mo ul>li {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transform: translate(0, 300px);
}

.portfolio .tab_con .mo .detail01 {
    transform: translate(0, 350px);
}

.portfolio .tab_con .mo .detail03 {
    transform: translate(0, 400px);
}

.portfolio .tab_con .mo.on .detail01 {
    animation: up01 1s linear 1.5s forwards;
}

.portfolio .tab_con .mo.on .detail02 {
    animation: up02 1s linear 0.5s forwards;
}

.portfolio .tab_con .mo.on .detail03 {
    animation: up03 1s linear 2.5s forwards;
}

@keyframes up01 {
    to {
        transform: translate(0, 50px);
    }
}

@keyframes up02 {
    to {
        transform: translate(0, 0);
    }
}

@keyframes up03 {
    to {
        transform: translate(0, 100px);
    }
}

/*  */

.pfBanyan .inner .tab_case .tab_con .mo {
    background: #082b26;
}

.pfBanyan .tab_con .mo .logo {
    height: 50px;
    margin-bottom: 20px;
}

.pfBanyan .tab_con .mo .detail01 img {
    transform: translate(0, -14%);
}

.pfBanyan .tab_con .mo .detail03 img {
    transform: translate(0, -45%);
}

/*  */
.pfThem .inner .tab_case .tab_con .mo {
    background: #343434;
}

.pfThem .tab_con .mo .logo {
    height: 80px;
    margin-bottom: 10px;
}

.portfolio .tab_con .mo .detail01 img {
    transform: translate(0, -48%);
}

.portfolio .tab_con .mo .detail03 img {
    transform: translate(0, -81%);
}

/*  */
.pfRerave .inner .tab_case .tab_con .mo {
    background: #f9f9f9;
}

.pfRerave .tab_con .mo .detail01 img {
    transform: translate(0, -23%);
}

.pfRerave .tab_con .mo .detail03 img {
    transform: translate(0, -45%);
}

/*  */


.pfBando .inner .tab_case .tab_con .mo {
    background: #fff;
}

.pfBando .tab_con .mo .detail01 img {
    transform: translate(0, -45%);
}

.pfBando .tab_con .mo .detail03 img {
    transform: translate(0, -76%);
}

/* port folio */

.contact {
    background: #BA8369;
    color: #fff;
}

.contact h2 {
    font-size: 150px;
    font-weight: 700;
    color: #fdefe7;
}

.contact h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fdefe7;
    margin: 30px 0;
}

.contact ul {
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    margin-bottom: 30px;
}

.contact strong {
    font-size: 20px;
}